<footer id="main-footer" class="main-footer">
	<div class="inner">
		<a href="#" class="main-footer__logo">
			<img src="<%= RELATIVE_PATH %>img/common/logo.png" alt="ASUIKU">
		</a>
		<ul class="main-footer__menu" role="list">
			<li class="main-footer__menu-item"><a href="<%= RELATIVE_PATH %>">Gallery</a></li>
			<li class="main-footer__menu-item"><a href="<%= RELATIVE_PATH %>">Company info</a></li>
			<li class="main-footer__menu-item"><a href="<%= RELATIVE_PATH %>">Contact us</a></li>
		</ul>
	</div>
	<small class="main-footer__copyright">Copyright &copy; Asuiku Corporation All Rights Reserved</small>
	<a href="#" class="btn-fix-contact js-contact">
		<img src="<%= RELATIVE_PATH %>img/common/back-top.png" alt="Back Top">
		<img src="<%= RELATIVE_PATH %>img/common/back-top-hv.png" alt="Back Top">
	</a>
</footer>

