<header id="main-header" class="main-header">
	<a href="<%= RELATIVE_PATH %>" class="main-header__logo">
		<img src="<%= RELATIVE_PATH %>img/common/logo.png" alt="ASUIKU">
	</a>
	<span class="main-header__mobile-icon">
		<span class="main-header__mobile-icon-border"></span>
		<span class="main-header__mobile-icon-border"></span>
		<span class="main-header__mobile-icon-border"></span>
	</span>
	<nav class="main-header__navGlobal">
		<ul class="main-header__menu" role="list">
			<li class="main-header__menu-item"><a href="<%= RELATIVE_PATH %>" class="main-header__link">Gallery</a></li>
			<li class="main-header__menu-item"><a href="<%= RELATIVE_PATH %>" class="main-header__link">Company info</a></li>
			<li class="main-header__menu-item"><a href="<%= RELATIVE_PATH %>" class="main-header__link">Contact us</a></li>
		</ul>
	</nav>
</header>

