<section class="mv-top">
	<div class="inner">
		<h1 class="mv-top__ttl">
			<img src="<%= RELATIVE_PATH %>img/index/mv-ttl.png" alt="img">
		</h1>
	</div>
	<div class="mv-top__img sp">
		<img src="<%= RELATIVE_PATH %>img/index/mv-sp.png" alt="img">
	</div>
</section>
<section class="nav-top">
	<div class="inner">
		<ul class="nav-top__menu">
			<li class="nav-top__menu-item"><div><span>Management</span><small>マネジメント</small></div></li>
			<li class="nav-top__menu-item"><div><span>Planning</span><small>企画</small></div></li>
			<li class="nav-top__menu-item"><div><span>Cost</span><small>コスト</small></div></li>
			<li class="nav-top__menu-item"><div><span>Design</span><small>デザイン</small></div></li>
			<li class="nav-top__menu-item"><div><span>Material</span><small>材質</small></div></li>
			<li class="nav-top__menu-item"><div><span>Craftsmanship</span><small>職人技術</small></div></li>
		</ul>
		<div class="nav-top__desc">
			<p>内装は強く優しく、<br>誰にでも素直でオープンに。</p>
			<p>手段は匠なデザインと、<br>誠実な職人のなす技工。</p>
			<p>期待を超える使命のもと<br>新たなスタンダードが創られる。</p>
		</div>
	</div>
</section>
<section class="ideal-top">
	<div class="inner">
		<div class="ideal-top__img">
			<img src="<%= RELATIVE_PATH %>img/index/img-ideal.jpg" alt="理想の空間作りをASUIKUと共に" class="pc">
			<img src="<%= RELATIVE_PATH %>img/index/img-ideal-sp.jpg" alt="理想の空間作りをASUIKUと共に" class="sp">
		</div>
		<div class="ideal-top__wp">
			<div class="ideal-top__wp-content">
				<p class="note"><span>代表取締役 <small>中武</small><small>大</small></span><br><span>株式会社アスイク</span></p>
				<p><span>確かな職人技術で実現していく</span><br><span>イメ<span class="txt-other">ー</span>ジにあった設計者を選び</span></p>
				<p><span>そんな方々の願いや想いをカタチに</span><br><span>ただどこに相談すればよいのかわからない</span></p>
				<p><span>理想の空間作りを追求したい</span><br><span>テレビや雑誌で見かけるような</span></p>
			</div>
			<h2 class="ideal-top__wp-ttl">
				<span class="pc">理想の空間作りを</span><br><span class="pc"><small>A</small><small>S</small><small>U</small><small>I</small><small>K</small><small>U</small>と共に</span>
				<span class="sp">ASUIKUと共に<br>理想の空間作りを</span>
			</h2>
		</div>
	</div>
</section>
<section class="quality-top">
	<div class="inner">
		<h2 class="quality-top__ttl"> 安定した最高品質を、<br>ASUIKUと共に。</h2>
		<ul class="quality-top__nav">
			<li class="quality-top__nav-item"><div><span>Management</span><small>マネジメント</small></a></li>
			<li class="quality-top__nav-item"><div><span>Planning</span><small>企画</small></a></li>
			<li class="quality-top__nav-item"><div><span>Cost</span><small>コスト</small></a></li>
			<li class="quality-top__nav-item"><div><span>Design</span><small>デザイン</small></a></li>
			<li class="quality-top__nav-item"><div><span>Material</span><small>材質</small></a></li>
			<li class="quality-top__nav-item"><div><span>Craftsmanship</span><small>職人技術</small></a></li>
		</ul>
	</div>
</section>
<section class="gallery-top" id="gallery">
	<ul class="gallery-top__slider js-gallery">
		<li><img src="<%= RELATIVE_PATH %>img/index/img-slider-01.jpg" alt=""></li>
		<li><img src="<%= RELATIVE_PATH %>img/index/img-slider-02.jpg" alt=""></li>
		<li><img src="<%= RELATIVE_PATH %>img/index/img-slider-03.jpg" alt=""></li>
		<li><img src="<%= RELATIVE_PATH %>img/index/img-slider-04.jpg" alt=""></li>
		<li><img src="<%= RELATIVE_PATH %>img/index/img-slider-05.jpg" alt=""></li>
		<li><img src="<%= RELATIVE_PATH %>img/index/img-slider-06.jpg" alt=""></li>
	</ul>
	<div class="gallery-top__note">Slide to the right</div>
</section>
<section class="company-top" id="company">
	<div class="company-top__wp">
		<div class="c-ttl__01 company-top__ct-ttl sp">
			<span>Company info</span>
			<h2>会社概要</h2>
		</div>
		<div class="company-top__img">
			<img src="<%= RELATIVE_PATH %>img/index/img-company-01.png" alt="Company info 会社概要" class="pc">
			<img src="<%= RELATIVE_PATH %>img/index/img-company-01-sp.jpg" alt="Company info 会社概要" class="sp">
		</div>
		<div class="company-top__ct">
			<div class="c-ttl__01 company-top__ct-ttl pc">
				<span>Company info</span>
				<h2>会社概要</h2>
			</div>
			<dl class="company-top__ct-dl">
				<dt class="company-top__ct-dt">会社名</dt>
				<dd class="company-top__ct-dd">株式会社アスイク</dd>
			</dl>
			<dl class="company-top__ct-dl">
				<dt class="company-top__ct-dt">所在地</dt>
				<dd class="company-top__ct-dd">東京都大田区上池台2-28-3 1F</dd>
			</dl>
			<dl class="company-top__ct-dl">
				<dt class="company-top__ct-dt">Mail</dt>
				<dd class="company-top__ct-dd"><a href="mailto:asulku.inc@gmall.com">asulku.inc@gmall.com</a></dd>
			</dl>
			<dl class="company-top__ct-dl">
				<dt class="company-top__ct-dt">設立</dt>
				<dd class="company-top__ct-dd">2015年 8月</dd>
			</dl>
			<dl class="company-top__ct-dl">
				<dt class="company-top__ct-dt">代表取締役</dt>
				<dd class="company-top__ct-dd">中武 大</dd>
			</dl>
			<dl class="company-top__ct-dl">
				<dt class="company-top__ct-dt">事業内容</dt>
				<dd class="company-top__ct-dd">
					店舗内装工事<br>
					オフィス内装工事<br>
					マンションリノベーション<br>
					オフィス移転、店舗出店に伴う設計施工
				</dd>
			</dl>
		</div>
	</div>
	<div class="inner">
		<div class="company-top__ceo">
			<div class="company-top__ceo-ct">
				<div class="company-top__ceo-ttl">
					<h3>代 表 取 締 役</h3>
					<span>中武 大 / DAI NAKATAKE</span>
				</div>
				<div class="company-top__ceo-desc">
					1976年生まれ、 宮崎県出身。<br>
					大工棟梁の祖父の影響で10代から大工見習いとなり、20代で独り立ち後に施工管理として内装会社へ転職、幅広い工事経験を積んだ後、30代でインテリアデザイン会社で、工事部門の立ち上げを経験後、独立
				</div>
			</div>
			<div class="company-top__ceo-img">
				<img src="<%= RELATIVE_PATH %>img/index/img-company-02.jpg" alt="" class="pc">
				<img src="<%= RELATIVE_PATH %>img/index/img-company-02-sp.jpg" alt="" class="sp">
			</div>
		</div>
	</div>
</section>
<section class="flow-top">
	<div class="c-ttl__01 c-ttl__01--ff flow-top__ttl">
		<span>Flow</span>
		<h2>サービスの流れ</h2>
	</div>
	<span class="flow-top__arr-sp sp"></span>
	<ul class="flow-top__slider js-slider-flow">
		<li class="flow-top__slider-item">
			<div class="flow-top__slider-wp">
				<h3 class="flow-top__slider-ttl">ヒアリング</h3>
				<div class="flow-top__slider-desc mh">
					お客様のご要望、現在の状況等をおうかがいします
				</div>
			</div>
		</li>
		<li class="flow-top__slider-item">
			<div class="flow-top__slider-wp">
				<h3 class="flow-top__slider-ttl">現地調査</h3>
				<div class="flow-top__slider-desc mh">
					物件がお決まりの場合は、現地を確認いたします
				</div>
			</div>
		</li>
		<li class="flow-top__slider-item">
			<div class="flow-top__slider-wp">
				<h3 class="flow-top__slider-ttl">お見積もり</h3>
				<div class="flow-top__slider-desc mh">
					ヒアリングと現地調査を元に、プランとお見積もりをご提案します
				</div>
			</div>
		</li>
		<li class="flow-top__slider-item">
			<div class="flow-top__slider-wp">
				<h3 class="flow-top__slider-ttl">打ち合わせ</h3>
				<div class="flow-top__slider-desc mh">
					プラン・お見積もりの説明と確認をし、最終的な調整を行います
				</div>
			</div>
		</li>
		<li class="flow-top__slider-item">
			<div class="flow-top__slider-wp">
				<h3 class="flow-top__slider-ttl">契約</h3>
				<div class="flow-top__slider-desc mh">
					プラン・お見積もりにご納得いただけましたら契約を交わします
				</div>
			</div>
		</li>
		<li class="flow-top__slider-item">
			<div class="flow-top__slider-wp">
				<h3 class="flow-top__slider-ttl">着工準備期間</h3>
				<div class="flow-top__slider-desc mh">
					関係各所への申請・届出、資材の手配等、工事の準備に入ります
				</div>
			</div>
		</li>
		<li class="flow-top__slider-item">
			<div class="flow-top__slider-wp">
				<h3 class="flow-top__slider-ttl">工事期間</h3>
				<div class="flow-top__slider-desc mh">
					プランに基づき、工事を行います
				</div>
			</div>
		</li>

		<li class="flow-top__slider-item">
			<div class="flow-top__slider-wp">
				<h3 class="flow-top__slider-ttl">引き渡し</h3>
				<div class="flow-top__slider-desc mh">
					お客様に仕上がりをご確認いただき、問題がなければ引き渡しとなります
				</div>
			</div>
		</li>
		<li class="flow-top__slider-item">
			<div class="flow-top__slider-wp">
				<h3 class="flow-top__slider-ttl">アフター期間</h3>
				<div class="flow-top__slider-desc mh">
					工事には万全を期しておりますが、トラブルや不具合が発生しましたら誠意を持って補修等の対応させていただきます
				</div>
			</div>
		</li>
	</ul>
</section>
<section class="contact-top" id="contact">
	<div class="inner">
		<div class="c-ttl__01 contact-top__ttl">
			<span>Contact us</span>
			<h2>お問い合わせ</h2>
		</div>
		<form action="#contact" method="post" class="contact-top__form">
			<dl class="contact-top__item">
				<dt class="contact-top__label">会社名 <span class="any">任意</span></dt>
				<dd class="contact-top__input">
					<input type="text" class="form-control">
				</dd>
			</dl>
			<dl class="contact-top__item">
				<dt class="contact-top__label">氏名 <span class="required">必須</span></dt>
				<dd class="contact-top__input">
					<input type="text" class="form-control" placeholder="例）山田 太郎">
				</dd>
			</dl>
			<dl class="contact-top__item">
				<dt class="contact-top__label">TEL<span class="required">必須</span></dt>
				<dd class="contact-top__input">
					<input type="text" class="form-control" placeholder="例）0452636100">
				</dd>
			</dl>
			<dl class="contact-top__item">
				<dt class="contact-top__label">メールアドレス<span class="required">必須</span></dt>
				<dd class="contact-top__input">
					<input type="text" class="form-control" placeholder="例）mail@info.co.jp">
				</dd>
			</dl>
			<dl class="contact-top__item">
				<dt class="contact-top__label">お問い合わせ項目<span class="required">必須</span></dt>
				<dd class="contact-top__input">
					<select name="お問い合わせ項目" id="お問い合わせ項目" class="form-control form-control--select">
						<option value="選択してください">選択してください</option>
						<option value="dummy">dummy</option>
						<option value="dummy">dummy</option>
						<option value="dummy">dummy</option>
						<option value="dummy">dummy</option>
						<option value="dummy">dummy</option>
					</select>
				</dd>
			</dl>
			<dl class="contact-top__item">
				<dt class="contact-top__label">お問い合わせ内容<span class="required">必須</span></dt>
				<dd class="contact-top__input">
					<textarea name="お問い合わせ内容" id="お問い合わせ内容" placeholder="内容をご記入ください" class="form-control form-control--textarea"></textarea>
				</dd>
			</dl>
			<div class="contact-top__check">
				<span class="mwform-checkbox-field horizontal-item">
					<label for="js-check-checked-1" class="checked">
						<input type="checkbox" name="agree" value="プライバシーポリシーを確認しました" id="js-check-checked-1">
						<span class="mwform-checkbox-field-text">プライバシーポリシーを<br class="sp-sm">確認しました<small class="required">必須</small></span>
					</label>
				</span>
			</div>
			<button class="c-btn__01">送信する</button>
		</form>
	</div>
</section>


